.links-list a {
background-color: rgb(179,57,81);
color: #fff;
text-decoration: none;
padding: 1em 2em;
display: inline-block;
}

.links-list a:hover {
background-color: rgb(66, 28, 40);
color: #fff;
}



/* Where this can be useful is when you want to give a link to a larger hit area by adding padding. <a> is an inline element like <span>;
you can use display: inline-block to allow padding to be set on it, making it easier for a user to click the link.

You see this fairly frequently in navigation bars. The navigation below is displayed in a row using flexbox and we have added padding
to the <a> element as we want to be able to change the background-color when the <a> is hovered. The padding appears to overlap the
border on the <ul> element. This is because the <a> is an inline element.

Add display: inline-block to the rule with the .links-list a selector, and you will see how it fixes this issue by causing the padding
to be respected by other elements. */
